:root {
  --black: #0d0d17;
  --black-75: rgba(13, 13, 23, 0.75);
  --black-50: rgba(13, 13, 23, 0.5);
  --black-25: rgba(13, 13, 23, 0.25);
  --black-10: rgba(13, 13, 23, 0.1);
  --black-5: rgba(13, 13, 23, 0.05);
  --white: #d3d3d3;
  --yellow: #d0a616;
  --yellow-light: #ccc973;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--black);
  scroll-behavior: smooth;
}

body {
  font-family: "Sarabun", sans-serif;
  padding: 0;
  margin: 0 auto;
  max-width: 100rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

.heading {
  font-family: "Bebas Neue", cursive;
  font-size: 2.18rem;
  line-height: 2.6rem;
}

.gradient-text {
  background: linear-gradient(90deg, #ff6a00 7.49%, #ee0979 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-btn {
  width: 258px;
  height: 56px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  font-size: 22px;
  padding-top: 13px;
  line-height: 29px;
}

/* header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  max-width: 100rem;
  padding: 0 4rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--yellow-light);
  background-color: rgba(13, 13, 23, 0.98);
  backdrop-filter: blur(4px);
}

.main-header__brand-container {
  display: flex;
  align-items: center;
}

.main-header__logo {
  background-color: var(--black);
  margin-right: 0.5rem;
}

.main-header__heading {
  color: var(--yellow-light);
  font-size: 2.1875rem;
  line-height: 2.625rem;
}

.main-header__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin-left: 1rem;
}

.main-header__item a {
  text-decoration: none;
  color: var(--yellow-light);
  font-size: 1.375rem;
  line-height: 1.8125rem;
}

.main-header__item a:hover,
.main-header__item a:active {
  color: white;
}

.main-header__hamburger-menu {
  display: none;
  width: 32px;
  height: 25px;
  cursor: pointer;
}
.main_header__menu-bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background-color: var(--yellow-light);
}

.main_header__menu-bar:nth-child(2) {
  margin: 0.5rem 0;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(13, 13, 23, 0.98);
  backdrop-filter: blur(4px);
}

.mobile-menu--active {
  display: block;
}

.mobile-menu__list {
  margin-top: 7.5rem;
  padding: 0;
  list-style: none;
}

.mobile-menu__item {
  margin-bottom: 2rem;
}

.mobile-menu__link {
  text-decoration: none;
  font-size: 2.1875rem;
  line-height: 2.875rem;
  color: #fff;
}

.mobile-menu__link:hover,
.mobile-menu__link:active {
  color: var(--yellow-light);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--yellow-light);
}

.mobile-menu__closebtn {
  position: absolute;
  top: 1rem;
  right: 1.375rem;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.mobile-menu__bar-1 {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35px;
  height: 3px;
  background: var(--yellow-light);
  border-radius: 4px;
  transform: rotate(-45deg);
}

.mobile-menu__bar-2 {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35px;
  height: 3px;
  background: var(--yellow-light);
  border-radius: 4px;
  transform: rotate(45deg);
}

/* main section */
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
  margin-bottom: 97px;
  padding: 0 4rem;
}

.main-section__company {
  max-width: 619px;
}

.main-section__company-heading{
  margin-bottom: 2rem;
  font-size: 4.4375rem;
  line-height: 5.3125rem;
  letter-spacing: 3px;
  color: var(--white);
}

.main-section__company-paragraph {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: var(--yellow-light);
}

.main-section__company-cta {
  border: 1px solid var(--yellow-light);
  color: var(--yellow-light);
}

.main-section__company-cta:hover,
.main-section__company-cta:active {
  background: linear-gradient(90deg, #ff6a00 7.49%, #ee0979 100%);
  color: white;
  border: none;
}

.main-section__founder {
  max-width: 546px;
  text-align: center;
}

.main-section__founder-heading {
  margin-top: 21px;
}

.main-section__founder-subheading {
  font-weight: 275;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: var(--yellow-light);
}

.main-section__founder-ig {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--yellow-light);
}

/* configs gerais */
.cases__primary-heading,
.chargers__primary-heading,
.headphone__primary-heading {
  font-weight: 400;
  font-size: 6.3125rem;
  line-height: 7.5625rem;
}

.cases__primary-paragraph,
.chargers__primary-paragraph,
.headphone__primary-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.cases__primary-cta,
.chargers__primary-cta,
.headphone__primary-cta {
  border: 2px solid var(--yellow-light);
  color: var(--yellow-light);
  margin-top: 2.5rem;
}

.cases__primary-cta:hover,
.cases__primary-cta:active,
.chargers__primary-cta:hover,
.chargers__primary-cta:active,
.headphone__primary-cta:hover,
.headphone__primary-cta:active {
  background-color: var(--yellow-light);
  color: var(--black);
}

.cases__secondary-heading,
.chargers__secondary-heading,
.headphone__secondary-heading {
  font-size: 4.4375rem;
  font-weight: 400;
  line-height: 5.3125rem;
}

.cases__secondary-paragraph,
.chargers__secondary-paragraph,
.headphone__secondary-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.cases__secondary-cta,
.chargers__secondary-cta,
.headphone__secondary-cta {
  border: 2px solid var(--white);
  color: var(--white);
  margin-top: 2.5rem;
}

.cases__secondary-cta:hover,
.cases__secondary-cta:active,
.chargers__secondary-cta:hover,
.chargers__secondary-cta:active,
.headphone__secondary-cta:hover,
.headphone__secondary-cta:active {
  background-color: var(--white);
  color: var(--black);
}

/* capas */
.cases {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/capas-iphone.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
}

.cases__primary {
  max-width: 515px;
  color: var(--yellow-light);
}

.cases__primary-paragraph {
  max-width: 370px;
}

.cases__secondary {
  max-width: 320px;
  margin-top: 16.9375rem;
  text-align: right;
  color: var(--white);
}

.cases__secondary-paragraph {
  max-width: 320px;
}

/* carregadores */
.chargers {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/carregadores-originais.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.chargers__primary {
  max-width: 475px;
  margin-left: auto;
  text-align: right;
  color: var(--yellow-light);
}

.chargers__primary-paragraph {
  max-width: 441px;
  margin-left: auto;
}

.chargers__secondary {
  margin-top: 18.4375rem;
  max-width: 326px;
  color: var(--white);
}


/* fones de ouvido */
.headphone {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/fones-bluetooth.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
}

.headphone__primary {
  max-width: 558px;
  color: var(--yellow-light);
}

.headphone__primary-paragraph {
  max-width: 484px;
}

.headphone__secondary {
  max-width: 353px;
  color: var(--white);
  text-align: right;
  margin-top: 18.4375rem;
}

/* contato */
.contact-us {
  position: relative;
  padding: 7.5rem 4rem 7.875rem;

  display: flex;
  justify-content: space-between;
}

.contact-us__avatar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.contact-us__meet-heading,
.contact-us__message-heading {
  font-weight: 400;
  font-size: 4.4375rem;
  line-height: 5.3125rem;
}

.contact-us__meet-paragraph,
.contact-us__message-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.contact-us__meet-heading,
.contact-us__meet-paragraph {
  color: var(--white);
}

.contact-us__message-heading,
.contact-us__message-paragraph {
  color: var(--yellow-light);
  text-align: right;
}

.contact-us__meet {
  max-width: 460px;
}

.contact-us__meet-paragraph {
  max-width: 332px;
}

.contact-us__meet-box {
  max-width: 258px;
  text-align: center;
  margin-left: 37px;
  margin-top: 4.25rem;
}

.contact-us__meet-instagram {
  font-size: 1.375rem;
  line-height: 1.8125rem;
}

.contact-us__meet-gradient-background {
  margin-top: 1.5rem;
  width: 262px;
  height: 60px;
  padding: 2px;
  background: linear-gradient(90deg, #ff6a00 7.49%, #ee0979 100%);
  border-radius: 8px;
}

.contact-us__meet-cta {
  border: 2px solid transparent;
  padding-top: 11px;
  background-color: var(--black);
}

.contact-us__meet-cta:hover,
.contact-us__meet-cta:active {
  background-color: transparent;
}

.contact-us__meet-cta:hover
.contact-us__meet-cta-text,
.contact-us__meet-cta:active
.contact-us__meet-cta-text  {
  -webkit-text-fill-color: var(--white);
}

.contact-us__message {
  max-width: 360px;
}

.contact-us__message-paragraph {
  width: 353px;
}

.contact-us__message-box {
  max-width: 258px;
  margin-top: 5.125rem;
  text-align: center;
  margin-left: auto;
  margin-right: 1.5rem;
}

.contact-us__message-number {
  font-size: 1.375rem;
  line-height: 1.8125rem;
  margin-top: 0.875rem;
  color: var(--yellow-light);
}

.contact-us__message-cta {
  width: 262px;
  height: 60px;
  border: 2px solid var(--yellow-light);
  color: var(--yellow-light);
  margin-top: 1.5rem;
}

.contact-us__message-cta:hover,
.contact-us__message-cta:active {
  background-color: var(--yellow-light);
  color: var(--black);
}

/* clientes */
.clients {
  padding: 4rem 4rem 13.375rem;
}

.clients__header {
  max-width: 458px;
  margin: 0 auto;
  text-align: center;
}

.clients__heading {
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.75rem;
  color: var(--yellow-light);
}

.clients__paragraph {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--white);
}

.clients__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5rem;
}

.clients__card {
  background-color: #131423;
  max-width: 391.33px;
  min-height: 296px;
  padding: 24px;
}

.clients__avatar-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--yellow-light);
  margin-right: 16px;
}

.clients__img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.clients__name {
  display: inline-block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--yellow-light);
  vertical-align: top;
  margin-top: 8px;
  margin-right: 40px;
 
}

.clients__stars {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

.clients__comment {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--white);
  margin-top: 1.5rem;
}

.clients__comment-date {
  display: inline-block;
  font-weight: 275;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--yellow-light);
  border-bottom: 1px solid var(--yellow-light);
  margin-top: 1.5rem;
}

.clients__star--toggle path {
  fill: var(--yellow-light);
}

.clients__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0;
}

.clients__ball {
  width: 12px;
  height: 12px;
  border: 1px solid var(--yellow-light);
  border-radius: 50px;
  margin: 0 4px;
}


.clients__ball--active {
  background-color: var(--yellow-light);
}

@media screen and (max-width: 85.3125rem) {
  .clients__cards {
    flex-direction: column;
    margin-top: 3rem;
  }
  .clients__card {
    margin-top: 1.5rem;
  }
}

/* responsivo  1200px*/
@media screen and (max-width: 75rem) {
  .main-header__container,
  .main-section,
  .cases,
  .chargers,
  .headphone,
  .contact-us {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* 1024px */
@media screen and (max-width: 64rem) {
  .main-header__container,
  .main-section,
  .cases,
  .chargers,
  .headphone,
  .contact-us, 
  .clients {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .main-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section__company {
    margin-top: 2rem;
  }

  .main-section__founder {
    margin-top: 6.8125rem;
  }
}

/* 965px */
@media screen and (max-width: 60.3125rem) {
  .cases,
  .chargers,
  .headphone {
    flex-direction: column;
  }

  .cases__secondary {
    margin-left: auto;
  }

  .headphone__secondary {
    margin-left: auto;
  }

  .contact-us {
    flex-direction: column;
    align-items: center;
  }

  .contact-us__avatar {
    display: none;
  }

  .contact-us__meet-box {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-us__message {
    margin-top: 9.5rem;
    max-width: 460px;
  }

  .contact-us__message-heading,
  .contact-us__message-paragraph {
    text-align: left;
  }

  .contact-us__meet-paragraph,
  .contact-us__message-paragraph {
    width: 100%;
  }

  .contact-us__message-box {
    margin-left: auto;
    margin-right: auto;
  }

}

/* 850px */
@media screen and (max-width: 53.125rem) {
  .main-header__navigation {
    display: none;
  }
  .main-header__hamburger-menu {
    display: block;
  }
}

/* 625px */
@media screen and (max-height: 39.0625rem) {
  .main-section {
    margin-top: 72px;
  }

  .main-section__founder-avatar {
    width: 380px;
  }
}

/* 520px */
@media screen and (max-width: 32.5rem) {
  .chargers__primary-heading {
    font-size: 5.75rem;
  }

  .clients__heading {
    font-size: 2.1875rem;
  }
}

/* 480px */
@media screen and (max-width: 30rem) {
  .main-section__company-heading{
    font-size: 3.125rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
  }

  .main-section__company-paragraph {
    font-size: 18px;
    line-height: 23px;
  }

  .main-section__company-cta {
    width: 100%;
  }

  .main-section__founder {
    text-align: left;
  }

  .main-section__founder-avatar {
    width: 100%;
    height: auto;
  }

  .main-section__founder-heading {
    font-size: 2.1875rem;
    line-height: 2.625rem;
  }

  .main-section__founder-subheading {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    margin-top: 1rem;
  }

  .main-section__founder-ig {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-top: 56px;
    text-align: center;
  }

  .cases__secondary,
  .chargers__secondary,
  .headphone__secondary {
    width: 100%;
    max-width: none;
    margin: 322px 0 0;
  }

  .cases__secondary,
  .chargers__primary,
  .headphone__secondary {
    text-align: left;
  }

  .cases__primary-heading,
  .cases__secondary-heading,
  .chargers__primary-heading,
  .chargers__secondary-heading,
  .headphone__primary-heading,
  .headphone__secondary-heading {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }

  .cases__primary-cta,
  .cases__secondary-cta,
  .chargers__primary-cta,
  .chargers__secondary-cta,
  .headphone__primary-cta,
  .headphone__secondary-cta {
    width: 100%;
  }

  .contact-us__meet-heading,
  .contact-us__message-heading {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }
}

/* 350 px */
@media screen and (max-width: 21.875rem) {
  .main-header__logo {
    display: none;
  }
}
