:root {
  --black: #0d0d17;
  --black-75: rgba(13, 13, 23, 0.75);
  --black-50: rgba(13, 13, 23, 0.5);
  --black-25: rgba(13, 13, 23, 0.25);
  --black-10: rgba(13, 13, 23, 0.1);
  --black-5: rgba(13, 13, 23, 0.05);
  --white: #d3d3d3;
  --yellow: #d0a616;
  --yellow-light: #ccc973;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--black);
  scroll-behavior: smooth;
}

body {
  font-family: "Sarabun", sans-serif;
  padding: 0;
  margin: 0 auto;
  max-width: 100rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

.heading {
  font-family: "Bebas Neue", cursive;
  font-size: 2.18rem;
  line-height: 2.6rem;
}

.gradient-text {
  background: linear-gradient(90deg, #ff6a00 7.49%, #ee0979 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-btn {
  width: 258px;
  height: 56px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  font-size: 22px;
  padding-top: 13px;
  line-height: 29px;
}

/* header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  max-width: 100rem;
  padding: 0 4rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--yellow-light);
  background-color: rgba(13, 13, 23, 0.98);
  backdrop-filter: blur(4px);
}

.main-header__brand-container {
  display: flex;
  align-items: center;
}

.main-header__logo {
  background-color: var(--black);
  margin-right: 0.5rem;
}

.main-header__heading {
  color: var(--yellow-light);
  font-size: 2.1875rem;
  line-height: 2.625rem;
}

.main-header__navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__navigation-list-item {
  margin-left: 1rem;
}

.main-header__navigation-list-item a {
  text-decoration: none;
  color: var(--yellow-light);
  font-size: 1.375rem;
  line-height: 1.8125rem;
}

.main-header__navigation-list-item a:hover,
.main-header__navigation-list-item a:active {
  color: white;
}

.main-header__hamburger-menu {
  display: none;
  width: 32px;
  height: 25px;
  cursor: pointer;
}
.main_header__hamburger-menu-bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background-color: var(--yellow-light);
}

.main_header__hamburger-menu-bar:nth-child(2) {
  margin: 0.5rem 0;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(13, 13, 23, 0.98);
  backdrop-filter: blur(4px);
}

.mobile-menu--active {
  display: block;
}

.mobile-menu__navigation-list {
  margin-top: 7.5rem;
  padding: 0;
  list-style: none;
}

.mobile-menu__navigation-list-item {
  margin-bottom: 2rem;
}

.mobile-menu__navigation-list-item a {
  text-decoration: none;
  font-size: 2.1875rem;
  line-height: 2.875rem;
  color: #fff;
}

.mobile-menu__navigation-list-item a:hover,
.mobile-menu__navigation-list-item a:active {
  color: var(--yellow-light);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--yellow-light);
}

.mobile-menu__closebtn {
  position: absolute;
  top: 1rem;
  right: 1.375rem;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.mobile-menu__closebtn-bar-1 {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35px;
  height: 3px;
  background: var(--yellow-light);
  border-radius: 4px;
  transform: rotate(-45deg);
}

.mobile-menu__closebtn-bar-2 {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35px;
  height: 3px;
  background: var(--yellow-light);
  border-radius: 4px;
  transform: rotate(45deg);
}

/* main section */
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
  margin-bottom: 97px;
  padding: 0 4rem;
}

.main-section__company-description {
  max-width: 619px;
}

.main-section__company-description-heading {
  margin-bottom: 2rem;
  font-size: 4.4375rem;
  line-height: 5.3125rem;
  letter-spacing: 3px;
  color: var(--white);
}

.main-section__company-description-paragraph {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: var(--yellow-light);
}

.main-section__company-description-cta {
  border: 1px solid var(--yellow-light);
  color: var(--yellow-light);
}

.main-section__company-description-cta:hover,
.main-section__company-description-cta:active {
  background: linear-gradient(90deg, #ff6a00 7.49%, #ee0979 100%);
  color: white;
  border: none;
}

.main-section__founder-description {
  max-width: 546px;
  text-align: center;
}

.main-section__founder-description-heading {
  margin-top: 21px;
}

.main-section__founder-description-subheading {
  font-weight: 275;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: var(--yellow-light);
}

.main-section__founder-description-ig {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: var(--yellow-light);
}

/* configs gerais */
.cases__primary-info-heading,
.chargers__primary-info-heading,
.headphone__primary-info-heading {
  font-weight: 400;
  font-size: 6.3125rem;
  line-height: 7.5625rem;
}

.cases__primary-info-paragraph,
.chargers__primary-info-paragraph,
.headphone__primary-info-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.cases__primary-info-cta,
.chargers__primary-info-cta,
.headphone__primary-info-cta {
  border: 2px solid var(--yellow-light);
  color: var(--yellow-light);
  margin-top: 2.5rem;
}

.cases__primary-info-cta:hover,
.cases__primary-info-cta:active,
.chargers__primary-info-cta:hover,
.chargers__primary-info-cta:active,
.headphone__primary-info-cta:hover,
.headphone__primary-info-cta:active {
  background-color: var(--yellow-light);
  color: var(--black);
}

.cases__secondary-info-heading,
.chargers__secondary-info-heading,
.headphone__secondary-info-heading {
  font-size: 4.4375rem;
  font-weight: 400;
  line-height: 5.3125rem;
}

.cases__secondary-info-paragraph,
.chargers__secondary-info-paragraph,
.headphone__secondary-info-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 1rem;
}

.cases__secondary-info-cta,
.chargers__secondary-info-cta,
.headphone__secondary-info-cta {
  border: 2px solid var(--white);
  color: var(--white);
  margin-top: 2.5rem;
}

.cases__secondary-info-cta:hover,
.cases__secondary-info-cta:active,
.chargers__secondary-info-cta:hover,
.chargers__secondary-info-cta:active,
.headphone__secondary-info-cta:hover,
.headphone__secondary-info-cta:active {
  background-color: var(--white);
  color: var(--black);
}

/* capas */
.cases {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/capas-iphone.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
}

.cases__primary-info {
  max-width: 515px;
  color: var(--yellow-light);
}

.cases__primary-info-paragraph {
  max-width: 370px;
}

.cases__secondary-info {
  max-width: 320px;
  margin-top: 16.9375rem;
  text-align: right;
  color: var(--white);
}

.cases__secondary-info-paragraph {
  max-width: 320px;
}

/* carregadores */
.chargers {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/carregadores-originais.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.chargers__primary-info {
  max-width: 475px;
  margin-left: auto;
  text-align: right;
  color: var(--yellow-light);
}

.chargers__primary-info-paragraph {
  max-width: 441px;
  margin-left: auto;
}

.chargers__secondary-info {
  margin-top: 18.4375rem;
  max-width: 326px;
  color: var(--white);
}

/* fones de ouvido */
.headphone {
  padding: 7.5rem 4rem 12rem;
  background-image: url("./images/fones-bluetooth.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
}

.headphone__primary-info {
  max-width: 558px;
  color: var(--yellow-light);
}

.headphone__primary-info-paragraph {
  max-width: 484px;
}

.headphone__secondary-info {
  max-width: 353px;
  color: var(--white);
  text-align: right;
  margin-top: 18.4375rem;
}

/* responsivo  1200px*/
@media screen and (max-width: 75rem) {
  .main-header__container,
  .main-section {
    padding: 0 2rem;
  }

  .cases,
  .chargers,
  .headphone {
    padding: 7.5rem 2rem 12rem;
  }
}

/* 1024px */
@media screen and (max-width: 64rem) {
  .main-header__container,
  .main-section {
    padding: 0 1.5rem;
  }

  .main-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section__company-description {
    margin-top: 2rem;
  }

  .main-section__founder-description {
    margin-top: 6.8125rem;
  }

  .cases,
  .chargers,
  .headphone {
    padding: 7.5rem 1.5rem 12rem;
  }
}

/* 950px */
@media screen and (max-width: 60.3125rem) {
  .cases,
  .chargers,
  .headphone {
    flex-direction: column;
  }

  .cases__secondary-info {
    margin-left: auto;
  }

  .headphone__secondary-info {
    margin-left: auto;
  }
}

/* 850px */
@media screen and (max-width: 53.125rem) {
  .main-header__navigation {
    display: none;
  }
  .main-header__hamburger-menu {
    display: block;
  }
}

/* 625px */
@media screen and (max-height: 39.0625rem) {
  .main-section {
    margin-top: 72px;
  }

  .main-section__founder-description-avatar {
    width: 380px;
  }
}

/* 520px */
@media screen and (max-width: 32.5rem) {
  .chargers__primary-info-heading {
    font-size: 5.75rem;
  }
}

/* 480px */
@media screen and (max-width: 30rem) {
  .main-section__company-description-heading {
    font-size: 3.125rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
  }

  .main-section__company-description-paragraph {
    font-size: 18px;
    line-height: 23px;
  }

  .main-section__company-description-cta {
    width: 100%;
  }

  .main-section__founder-description {
    text-align: left;
  }

  .main-section__founder-description-avatar {
    width: 100%;
    height: auto;
  }

  .main-section__founder-description-heading {
    font-size: 2.1875rem;
    line-height: 2.625rem;
  }

  .main-section__founder-description-subheading {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    margin-top: 1rem;
  }

  .main-section__founder-description-ig {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-top: 56px;
    text-align: center;
  }

  .cases__secondary-info,
  .chargers__secondary-info,
  .headphone__secondary-info {
    width: 100%;
    max-width: none;
    margin: 322px 0 0;
  }

  .cases__secondary-info,
  .chargers__primary-info,
  .headphone__secondary-info {
    text-align: left;
  }

  .cases__primary-info-heading,
  .cases__secondary-info-heading,
  .chargers__primary-info-heading,
  .chargers__secondary-info-heading,
  .headphone__primary-info-heading,
  .headphone__secondary-info-heading {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }

  .cases__primary-info-cta,
  .cases__secondary-info-cta,
  .chargers__primary-info-cta,
  .chargers__secondary-info-cta,
  .headphone__primary-info-cta,
  .headphone__secondary-info-cta {
    width: 100%;
    margin-top: 2rem;
  }
}

/* 350 px */
@media screen and (max-width: 21.875rem) {
  .main-header__logo {
    display: none;
  }
}
