:root {
  --black: #0d0d17;
  --black-75: rgba(13, 13, 23, 0.75);
  --black-50: rgba(13, 13, 23, 0.5);
  --black-25: rgba(13, 13, 23, 0.25);
  --black-10: rgba(13, 13, 23, 0.1);
  --black-5: rgba(13, 13, 23, 0.05);
  --yellow: #d0a616;
  --yellow-light: #ccc973;
  --orange: #ff6a00;
  --pink: #ee0979;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--black);
}

body {
  font-family: "Sarabun", sans-serif;
  padding: 0;
  margin: 0 auto;
  max-width: 1600px;
}

.heading {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 2px;
}

/* header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 64px;
  border-bottom: 1px solid var(--yellow-light);
}

.main-header__brand-container {
  display: flex;
  align-items: center;
}

.main-header__logo {
  background-color: var(--black);
  margin-right: 8px;
}

.main-header__heading {
  margin: 0;
  color: var(--yellow-light);
  font-size: 35px;
  line-height: 42px;
}

.main-header__navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__navigation-item {
  margin-left: 16px;
}

.main-header__navigation-item a {
  text-decoration: none;
  color: var(--yellow-light);
  font-size: 22px;
  line-height: 29px;
}

.main-header__navigation-item a:hover,
.main-header__navigation-item a:active {
  color: white;
}
